* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-container {
  max-width: 400px;
  width: 100%;
}

.bar-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.bar-btn {
  height: 50px;
  width: 50px;
  border: 3px solid rgb(4, 94, 4);
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(4, 94, 4);
  font-size: 20px;
}

.progress-line {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: rgb(175, 175, 175);
  z-index: -1;
}

.line {
  position: absolute;
  height: 5px;
  width: 33%;
  height: 100%;
  background-color: rgb(4, 94, 4);
}
